fastapi>=0.111.0
uvicorn[standard]>=0.29.0
pydantic>=2.0.0
requests>=2.31.0
python-dotenv>=1.0.0
pandas>=2.0.0
trino>=0.328.0
langchain>=0.2.0
langchain-core>=0.2.0
langchain-ollama>=0.2.0
langgraph>=0.2.0
langchain-mcp-adapters>=0.0.1
mcp[cli]>=1.0.0
chromadb>=0.5.0
sentence-transformers>=3.0.0
plotly>=5.22.0
pyyaml>=6.0.0
streamlit>=1.35.0
minio
pyspark==3.5.3
mlflow
lightgbm>=4.0.0
kafka-python
apache-airflow>=2.9.0
boto3
charset-normalizer
prophet
pytest